<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Categories</title>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Courgette|Roboto|Titillium+Web" />
</head>
<body>
    <div th:replace="fragments/header :: header"></div>

    <div id="main-body" class="main-body categories">
        <h2 th:text="#{admin.categories.title}">CATEGORIES</h2>
        <h4 th:text="#{admin.categories.subtitle}">List of categories</h4>
        <div class="alert alert-success" th:if="${(param.success_add != null) and (param.success_add[0] == 'true')}">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <p th:text="#{global.success.record_added}">Record added successfully!</p>
        </div>
        <div class="alert alert-success" th:if="${(param.success_update != null) and (param.success_update[0] == 'true')}">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <p th:text="#{global.success.record_updated}">Record updated successfully!</p>
        </div>
        <div class="alert alert-success" th:if="${(param.success_delete != null) and (param.success_delete[0] == 'true')}">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <p th:text="#{global.success.record_deleted}">Record deleted successfully!</p>
        </div>
        <div class="container">
            <div class="row">
                <a href="/admin/addnewcategory" th:href="@{/admin/addnewcategory}"
                   class="btn btn-primary btn-md pull-right"
                   th:text="#{admin.categories.button.addnewcategory}">Add new category</a>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <table class="table table-hover table-bordered">
                    <thead>
                    <tr>
                        <th th:text="#{admin.categories.table.header.id}">ID</th>
                        <th th:text="#{admin.categories.table.header.name}">Name</th>
                        <th th:text="#{admin.categories.table.header.type}">Type</th>
                        <th th:text="#{global.table.header.action}">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="category : ${allCategories}">
                        <td th:text="${category.id}">ID</td>
                        <td th:text="${category.name}">name</td>
                        <td th:text="${T(org.cuzzie.expensesapp.Constant.CategoryType).getDescByValue(category.type)}">type</td>
                        <td>
                            <div class="table-action">
                                <form action="#" th:action="@{/admin/editcategory/} + ${{category.id}}" method="get">
                                    <button class="btn btn-default btn-md">
                                        <i class="glyphicon glyphicon-edit"></i>
                                        <p th:text="#{global.table.action.edit}" />
                                    </button>
                                </form>
                                <form action="#" th:action="@{/admin/deletecategory/} + ${{category.id}}" method="post">
                                    <button class="btn btn-default btn-md">
                                        <i class="glyphicon glyphicon-remove"></i>
                                        <p th:text="#{global.table.action.delete}" />
                                    </button>
                                </form>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>