body {
    padding-top: 80px;
    background: #5CBF98;  /* fallback for old browsers */
    background: linear-gradient(55deg, #4E75B9 30%, #5CBF98 90%);
    background-attachment: fixed;
    padding-bottom: 40px;
}

h1, h2, h3, h4, h5 {
    font-family: 'Titillium Web', sans-serif;
    line-height: 1.2em;
}

p, th, td {
    font-family: 'Roboto', sans-serif;
    line-height: 1.2em;
}

h2, h4 {
    text-align: center;
}

h2 {
    padding-bottom: 5px;
    font-size: 52px;
}

h4 {
    padding-bottom: 40px;
    font-size: 22px;
}

.main-body {
    background: #fff;
    padding: 60px 50px;
    /*position: absolute;*/
    box-shadow: 0.5rem 0.5rem 2rem 0 rgba(0, 0, 0, 0.2);
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    min-height: 100vh;
}

.main-body a {
    margin-bottom: 20px;
}

.main-body .main-body-logo {
    text-align: center;
}

.main-body .main-body-logo .main-body-text p {
    font-family: "Courgette", sans-serif !important;
    font-weight: 700;
    font-size: 100px;
    color: #000;
    padding-bottom: 50px;
    display: inline-block;
}

.table-action form {
    display: inline-flex;
}

.table-action p {
    display: inline;
}

.form-check {
    margin-bottom: 15px;
}

.form-check .my-checkbox {
    padding-top: 7px;
}

.password-error {
    display: none;
}

.password-error p {
    color: red;
}

.login-body {
    background: #fff;
    padding: 60px 50px;
    box-shadow: 0.5rem 0.5rem 2rem 0 rgba(0, 0, 0, 0.2);
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.login-body .login-buttons {
    text-align: center;
    margin-top: 10px;
}

.logout-text {
    color: darkgreen;
    text-align: center;
}

.error-text {
    color: red;
    text-align: center;
}

.table thead tr {
    background-color: steelblue;
    color: aliceblue;
}

.income-table thead tr {
    background-color: seagreen;
    color: aliceblue;
}

.expenses-table thead tr {
    background-color: crimson;
    color: aliceblue;
}

.index h4 {
    padding-bottom: 20px;
}

.index .transactions-button {
    text-align: center;
}

.index .income-expense-table {
    border-spacing: 20px;
    background-color: #f5f5f5;
    width: 100%;
}

.index .income-expense-cell {
    width: 50%;
}

.index .income-expense-cell div {
    min-height: 200px;
    min-width: 300px;
    margin: 20px;
    background-color: #fff;
    border: 1px solid #dcdce2;
}
