<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
                xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Users</title>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Courgette|Roboto|Titillium+Web" />
</head>
<body>
    <div th:replace="fragments/header :: header" />

    <div id="main-body" class="main-body create-user">
        <h2 th:text="#{isRegister ? register.title : admin.addnewuser.title}">Create User</h2>
        <h4 th:text="#{admin.addnewuser.subtitle}">Enter new user details</h4>
        <div class="container">
            <form class="form-horizontal" action="/admin/addnewuser" th:action="@{/admin/addnewuser}" th:object="${user}" method="post">
                <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
                    <p th:text="#{global.error.enter_mandatory_fields}">Please fill in the mandatory fields!</p>
                </div>
                <div class="form-group row">
                    <div class="col-md-2 control-label">
                        <label for="username" th:text="#{admin.addnewuser.label.username}">Username</label>
                    </div>
                    <div class="col-md-10">
                        <input class="form-control" id="username" placeholder="Username" th:field="*{username}" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-2 control-label">
                        <label for="firstname" th:text="#{admin.addnewuser.label.firstname}">First Name</label>
                    </div>
                    <div class="col-md-10">
                        <input class="form-control" id="firstname" placeholder="First Name" th:field="*{firstName}" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-2 control-label">
                        <label for="lastname" th:text="#{admin.addnewuser.label.lastname}">Last Name</label>
                    </div>
                    <div class="col-md-10">
                        <input class="form-control" id="lastname" placeholder="Last Name" th:field="*{lastName}" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-2 control-label">
                        <label for="address" th:text="#{admin.addnewuser.label.address}">Address</label>
                    </div>
                    <div class="col-md-10">
                        <input class="form-control" id="address" placeholder="Address" th:field="*{address}" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-2 control-label">
                        <label for="country" th:text="#{admin.addnewuser.label.country}">Country</label>
                    </div>
                    <div class="col-md-10">
                        <select id="country" class="form-control" th:field="*{country}">
                            <option value="" th:text="#{global.select.option.name('country')}" />
                            <option th:each="country : ${allCountries}" th:value="${country}" th:text="${country}" />
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-2 control-label">
                        <label for="dob" th:text="#{admin.addnewuser.label.dob}">Date of birth</label>
                    </div>
                    <div class="col-md-10">
                        <input type="date" class="form-control" id="dob" placeholder="Date of birth" th:field="*{dob}" />
                    </div>
                </div>
                <div sec:authorize="hasRole('ROLE_ADMIN')" class="form-check row">
                    <div class="col-md-2 control-label">
                        <label for="isAdmin" th:text="#{admin.addnewuser.label.isAdmin}">Is administrator?</label>
                    </div>
                    <div class="col-md-10 my-checkbox">
                        <input type="checkbox" class="form-check-input" id="isAdmin" th:field="*{isAdmin}" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-2 control-label">
                        <label for="password" th:text="#{admin.addnewuser.label.password}">Password</label>
                    </div>
                    <div class="col-md-10">
                        <input type="password" class="form-control" id="password" placeholder="Password" th:field="*{password}" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-2 control-label">
                        <label for="passwordConfirm" th:text="#{admin.addnewuser.label.password_confirm}">Confirm password</label>
                    </div>
                    <div class="col-md-10">
                        <input type="password" class="form-control" id="passwordConfirm" placeholder="Confirm password" oninput="confirmPassword(this)" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-offset-2 col-md-10">
                        <div id="passwordError" class="password-error">
                            <p th:text="#{global.error.passwords_dont_match}">Password do not match!</p>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-offset-2 col-md-10">
                        <button id="submit" type="submit" class="btn btn-primary" th:text="#{global.button.submit}">Submit</button>
                        <button id="reset" type="reset" class="btn btn-default" th:text="#{global.button.reset}">Reset</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script language="javascript" type="text/javascript">
        function confirmPassword(password) {
            if (password.value === document.getElementById('password').value || password.value === '') {
                document.getElementById('passwordError').style.display = 'none';
                document.getElementById('submit').disabled = false;
            } else {
                document.getElementById('passwordError').style.display = 'block';
                document.getElementById('submit').disabled = true;
            }
        }
    </script>

    <script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>