<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Users</title>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Courgette|Roboto|Titillium+Web" />
</head>
<body>
    <div th:replace="fragments/header :: header" />

    <div id="main-body" class="main-body index">
        <h2 th:text="#{overview.title}">OVERVIEW</h2>
        <h4 th:text="#{overview.subtitle}">Transactions of Income and Expenses</h4>
        <div class="container">
            <div class="row overview-filter">
                <label for="overview-filter" th:text="#{overview.month.filter}" />
                <input id="overview-filter" type="month" onchange="onSelectMonth()"/>
            </div>
        </div>
        <div class="container">
            <div class="row transactions-button">
                <a href="/addnewincome" th:href="@{/addnewincome}"
                   class="btn btn-success btn-md income-button"
                   th:text="#{overview.button.addnewincome}">Add new income</a>
                <a href="/addnewexpense" th:href="@{/addnewexpense}"
                   class="btn btn-danger btn-md expense-button"
                   th:text="#{overview.button.addnewexpense}">Add new expense</a>
            </div>
        </div>
        <div class="alert alert-success" th:if="${(param.success_add != null) and (param.success_add[0] == 'true')}">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <p th:text="#{global.success.record_added}">Record added successfully!</p>
        </div>
        <div th:replace="fragments/overviewbody :: overviewList"></div>
    </div>

    <script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script language="JavaScript" type="text/javascript">
        $(function() {
            $("#overview-filter").val(new Date().toISOString().substr(0, 7));
            onSelectMonth();
        });

        function onSelectMonth() {
            var url="/filtermonth/";
            if ($("#overview-filter").val() != "") {
                url += $("#overview-filter").val();
            }
            $("#overview-block").load(url);
        }
    </script>
</body>
</html>