<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Users</title>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
    <div th:replace="fragments/header :: header"></div>

    <div class="users">
        <h2 th:text="#{admin.users.title}">USERS</h2>
        <h4 th:text="#{admin.users.subtitle}">List of users</h4>
        <div class="container">
            <div class="row">
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th th:text="#{admin.users.table.header.id}">ID</th>
                        <th th:text="#{admin.users.table.header.firstname}">First Name</th>
                        <th th:text="#{admin.users.table.header.lastname}">Last Name</th>
                        <th th:text="#{admin.users.table.header.dob}">Date of Birth</th>
                        <th th:text="#{admin.users.table.header.age}">Age</th>
                        <th th:text="#{admin.users.table.header.address}">Address</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="user : ${allUsers}">
                        <td th:text="${user.id}">ID</td>
                        <td th:text="${user.firstName}">firstName</td>
                        <td th:text="${user.lastName}">lastName</td>
                        <td th:text="${user.dob}">dob</td>
                        <td th:text="${user.age}">age</td>
                        <td th:text="${user.address}">address</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>